<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Edit settings</title>
</head>
<body>
    <div class="page">
        <%- include ('../partials/header.ejs'); %>

        <h1>Edit settings</h1>
        <form action="/blog/author/settings/update" method="post">
            <div class="mb-1">
                <label for="title">Title</label>
                <input type="text" value="<%= header.blog_title %>" name="title" id="title" autocomplete="off">
            </div>
            <div class="mb-1">
                <label for="subtitle">Subtitle</label>
                <input type="text" value="<%= header.blog_subtitle %>" name="subtitle" id="subtitle" autocomplete="off">
            </div>
            <div class="mb-1">
                <label for="author">Author</label>
                <input type="text" value="<%= header.blog_author %>" name="author" id="author" autocomplete="off">
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-default" type="submit">Submit</button>
                <a class="btn btn-primary" href="/blog/author/articles">Back to articles</a>
            </div>
        </form>
        <hr>

        <%- include ('../partials/footer.ejs'); %>
    </div>
    <%- include ('../partials/icons.ejs'); %>
</body>
</html>
